@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.test {
  margin-top: 11rem;
  transform: skewY(15deg);
  background-image: url("../../public/imgs/impalabg.jfif");
}
.test-zig {
  margin-top: 11rem;
  transform: skewY(338deg);
  background-image: url("../../public/imgs/impalabg5.jfif");
}
.test-zag {
  margin-top: 11rem;
  transform: skewY(15deg);
  background-image: url("../../public/imgs/Tame Impala concert.jfif");
}

.test1 {
  background-image: url("../../public/imgs/impalabg.jfif");
}
.test2 {
  background-image: url("../../public/imgs/impalabg2.jfif");
}
.test3 {
  background-image: url("../../public/imgs/impalabg3.jfif");
}
.test4 {
  background-image: url("../../public/imgs/impalabg4.jfif");
}
.test5 {
  background-image: url("../../public/imgs/impalabg5.jfif");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.packcontainer {
  transform: skewY(10deg);
  height: 24rem;
  width: 23rem;
  background-image: url("https://res.cloudinary.com/dm3ienizb/image/upload/v1712063830/crumbled-paper.png");
}
.vinyl-container {
  position: absolute;
  top: 24%;
  right: 40%;
  /* overflow: hidden; */
  z-index: 1;
  transition: transform 2s ease;
  transform: scale(0.9);
}
.hypnotic-spiral {
  transform: skewY(15deg);
  left: 10rem;
  top: -21rem;
  width: 21rem;
  z-index: -1;
  color: transparent;
  /* top: 123px;
  left: 20rem; */
  /* position: absolute; */
  /* margin-left: 20rem; */
  /* width: 50rem;
  height: 50%;
  z-index: 1;
  margin-top: 12rem;
  height: 50rem; */
  /* opacity: 80%; */
  /* position: relative; */
  /* background: repeating-conic-gradient( #c57a7a, hwb(138.98deg 39.74% 0%) 15deg 12deg, #2B0047 22deg 27deg ); */
  /* margin-top: 10rem; */

  /* box-shadow: inset 0 0 40rem #000000, 0 0 89px #be07ebc7; */
}
.shadow-inset-purple {
  box-shadow: inset 0 0 40rem #000000, 0 0 89px #be07ebc7;
}

.hspiral-container {
  border-radius: 50px;
  /* margin-left: 5rem; */
  margin-bottom: 2rem;
  overflow: hidden;

  /* z-index: -2; */
  /* background:
  radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%),  */
}

.hspiral-container {
  transition: transform 2s ease-out;
}

/* .vinyl-container:hover{
transform: scale(1.1);
} */

.vinylcontainer .packcontainer {
  animation: vanish 4s forwards;
}
.vinylcontainer .hypnotic-spiral {
  animation: straight 4s forwards, spin 110s forwards;
}
/* .hypnotic-spiral::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: inherit;
  animation: inherit;
} */

@keyframes spin {
  0% {
    transform: skewY(15);
  }

  5% {
    transform: skewY(0);
  }

  10% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(20turn);
  }
}

@keyframes vanish {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes straight {
  0% {
    transform: skewY(15);
  }
  100% {
    transform: skewY(0) translateX(-10rem);
  }
}

.spin-animation {
  animation: spin infinite forwards;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes planet {
  0% {
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes plantrans {
  0% {
  }
  100% {
    transform: translate3d();
  }
}
.bg-opac {
  animation: opac 10s forwards;
}
.wavey {
  opacity: 0;
}
/* .vortex{
  margin-top: 25rem;
} */
/* 
.checkered-pattern{
  width: 100%;
  max-height: 500px;
/* }  */

.plan1 {
  left: 27%;
  z-index: 2;
}

.sun {
  margin-top: 4%;
  left: 66%;
  z-index: 2;
}

.plan2 {
  top: 20%;
  left: 10%;
  z-index: 2;
}

.plan12 {
  margin-top: 19%;
  left: 36%;
  z-index: 2;
}
.plan2 {
  margin-top: -2%;
  left: 60%;
  z-index: 2;
}
.plan3 {
  margin-top: 5%;
  left: 58%;
  z-index: 2;
}

.bgspace {
  max-height: 700px;
  border-radius: 10px;
  box-shadow: inset 0px -106px 138px 17px rgb(26 1 1),
    1px -4px 138px 114px rgb(40 73 42);
}

.man {
  box-shadow: inset 0px -84px 138px 18px rgb(26 1 1);
  background: url("https://res.cloudinary.com/dm3ienizb/image/upload/v1712560091/pattern_checkerboard_rzpkqc.png");
}

.planetanimation {
  animation: planet 5s forwards;
}

.planetTransform {
  animation: plantrans 5s forwards;
}

.finalscreen {
  transform: rotate3d(3, 1, 1, 301deg) scale(0.7);
}

.plan11 {
  margin-top: -22%;
  left: 64%;
  z-index: 2;
}

.plan9 {
  margin-top: -22%;
  left: 38%;
  z-index: 2;
}

/* .planetTransform{
  animation: screenzoom 5s forwards;
} */

.final-notes {
  padding-top: 27rem;
}
@media (min-width: 900px) and (max-width: 1200px) {
  .lyrical-cont {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 500px) and (max-width: 991.98px) {
  .sun {
    margin-top: 5%;
    left: 81%;
  }

  .plan1,
  .plan12 {
    left: 15%;
  }
  .plan1 {
    left: 10%;
  }
  .plan12 {
    left: 20%;
    margin-top: 45%;
  }
  .plan9 {
    margin-top: -35%;
    left: 23%;
  }
  .bgspace {
    max-height: 700px;
    border-radius: 10px;
    box-shadow: inset 0px -106px 138px 17px rgb(26 1 1),
      1px -4px 138px 114px rgb(40 73 42);
  }

  .man {
    box-shadow: inset 9px -9px 79px 101px rgb(26 1 1);
    background: url("https://res.cloudinary.com/dm3ienizb/image/upload/v1712560091/pattern_checkerboard_rzpkqc.png");
  }
}

@media (max-width: 900px) {
  .what-was-said {
    transform: translateY(250px);
  }

  .vinyl-container {
    top: 8%;
  }

  .lyrical-cont {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  /* .vortex{
    margin-top: 10rem;
  } */
  .final-notes {
    padding-top: 10rem;
  }
  .vinyl-container {
    transform: scale(0.6);
    right: 17%;
  }
  .packcontainer {
  }
  .bgspace {
    max-height: 700px;
    border-radius: 10px;
    box-shadow: inset -1px -20px 138px 17px rgb(26 1 1),
      1px -4px 138px 114px rgb(40 73 42);
  }

  .sun {
    margin-top: 5%;
    left: 81%;
  }

  .plan1,
  .plan12 {
    left: 15%;
  }
  .plan1 {
    left: 10%;
  }
  .plan12 {
    left: 20%;
    margin-top: 45%;
  }
  .plan9 {
    margin-top: -35%;
    left: 23%;
  }

  .man {
    box-shadow: none;
    background: url("https://res.cloudinary.com/dm3ienizb/image/upload/v1712560091/pattern_checkerboard_rzpkqc.png");
  }
}
/* 
.vortex{
  font-size: 2.5rem;
  line-height: 4rem;
} */

/* .hero{
  position:absolute;
  z-index:5;
  top:10rem
}
.parallax-back{
  position:absolute;
  z-index:3;
  top:20rem
} */
/* .parallax{
  display:grid;
  grid-template-areas: "stack";
  width:100%;

}

.parallax > * {
  grid-area:stack;
  animation: parallax linear 400ms;
  animation-timeline:scroll();
}




@keyframes parallax {

  to{
    transform: translateY(2000px);
  }
} */

.bg-video {
  object-fit: none;
  height: 100vh;
}


.section {
  height: 100vh; /* Ensures each section takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: relative;
}
.section-psy {
  height: 100vh; /* Ensures each section takes full viewport height */
  display: flex;

  align-items: center;
  font-size: 2em;
  position: relative;
}

.section-start {
  height: 100vh; /* Ensures each section takes full viewport height */
  display: flex;
  font-size: 2em;
  position: relative;
}

.banner-1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background-image: url("../../public/imgs/impalabg5.jfif");
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.overlay-section {
  background-image: url("../../public/imgs/impalabg4.jfif");

  height: 100vh; /* Ensures each overlay section takes full viewport height */

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: clip;
  top: 0;
}

.overlay-section:nth-child(2) {
  z-index: 1;
}

.overlay-section:nth-child(3) {
  z-index: 2;

  opacity: 100%;
}

.overlay-section:nth-child(4) {
  z-index: 3;
}

/* .normal-section {
  background: #cccccc;
  color: black;
  height: 100vh; /* Ensures the normal section takes full viewport height */
/* display: flex;
  justify-content: center;
  align-items: center;
} */

h1 {
  margin: 0;
}

.lyrical-cont {
}

@font-face {
  font-family: "Balvine Demo";
  src: url("../../public/fonts/BalvineDemo-Regular.woff2") format("woff2"),
    url("../../public/fonts/BalvineDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sabbia";
  src: url("../../public/fonts/Sabbia-Regular.woff2") format("woff2"),
    url("../../public/fonts/Sabbia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.top-text {
  filter: drop-shadow(3px 2px 0px #562064);
}

.bottom-text {
  filter: drop-shadow(3px 2px 0px #d30131);
}
.who-ist-2 {
  font-family: "Balvine Demo";
  line-height: 5.5rem !important;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
}

.who-ist {
  font-family: "Balvine Demo";
  line-height: 5.5rem !important;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  top: 70%;
  z-index: 1000;
  /* background: url('../../public/imgs/paper-3.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
}
.top-div {
  z-index: 1001;
}
/* 
*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.shape {
  
	background: linear-gradient(45deg, #661e03  0%, #742724 100%);
	animation: morph 8s ease-in-out infinite;
  border-radius: 60% 35% 70% 35% / 60% 70% 30% 70%;
	height: 400px;
	width: 400px;
	box-shadow: 0 0 20px #000
}
.shape-inner {
	background: linear-gradient(45deg,  #993e17  0%, #b1461d 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 200px;
	width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.shape-inner-2 {
	background: linear-gradient(45deg, #7f2c2c  0%, #871d1a 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 100px;
	width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.shape-inner-3 {
	background: linear-gradient(45deg, #85cbf9  0%, #85cbf9 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
padding:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@keyframes morph {
  0% {
    border-radius: 60% 35% 70% 35% / 60% 70% 30% 70%;
  }
  50% {
    border-radius: 70% 30% 60% 40% / 70% 60% 40% 30%;
  }
  100% {
    border-radius: 60% 35% 70% 35% / 60% 70% 30% 70%;
  }
} */

.wrapper {
  height: 100vh; /* Ensure full viewport height */
  position: relative;
  z-index: 50;
}

.bottom-div,
.top-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
}

.bottom-div {
  width: 100%;
  background-image: url("../../public/imgs/new-bg-intro.png");
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
/* .special{
  height: 200vh;
} */
.top-div {
  width: 100%;
  background-image: url("../../public/imgs/new-bg-intro.png");
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  clip-path: inset(0 0 0 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

body {
  scroll-behavior: smooth;
}
/* 

.fixed {
  position: fixed;
}

.relative {
  position: relative;
} */

.image-grid {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(24, 1fr);
  max-height: 100vh;
  width: 100vw;
}

.get-lost {
  font-family: ITC Serif Gothic Std;
}

.get-lost-para {
  font-family: "HWT Unit Gothic 719";
}

@font-face {
  font-family: "ITC Serif Gothic Std";
  src: url("../../public/fonts/SerifGothicStd-Black.woff2") format("woff2"),
    url("../../public/fonts/SerifGothicStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HWT Unit Gothic 719";
  src: url("../../public/fonts/HWTUnitGothic.woff2") format("woff2"),
    url("../../public/fonts/HWTUnitGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.what-he-said {
  transform: translateY(0);
  transition: transform 2s ease-in-out;
}
.what-he-said span {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.what-was-said span {
  opacity: 100;
}

.what-was-said {
  transform: translateY(350px);
}

.child {
  transform: perspective(16px) rotateX(1deg) translateZ(6px);
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 500px;

  z-index: 0;
}
.child3 {
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );

  height: 100%;
  -radius: 5px;
  z-index: 1;
  left: 8px;
}
.child4 {
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );
  height: 100%;

  border-radius: 5px;
  z-index: 1;
  left: 16px;
}
.child6 {
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );

  height: 100%;

  border-radius: 5px;
  z-index: 1;
  left: 32px;
}
.child7 {
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );

  height: 100%;

  border-radius: 5px;
  z-index: 1;
  left: 40px;
}

.child5 {
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );
  height: 100%;

  border-radius: 5px;
  z-index: 1;
  left: 24px;
}

.child2 {
  background: rgb(255, 101, 189);
  background: radial-gradient(
    circle,
    rgba(255, 101, 189, 1) 0%,
    rgba(125, 255, 0, 1) 49%
  );

  height: 100%;
  -radius: 5px;
  z-index: 1;
  transform: perspective(24px) rotateX(-1deg) translateZ(-4px) translateX(-7px);
}
.child {
  width: 200px;
  height: 100%;

  border-radius: 5px;
  z-index: 1;
}
.parent {
  perspective: 1000px;
}

.bridge {
  width: 5px;
}

.circle-outer {
  width: 300px;
  height: 300px;
}
.circle {
  transform: perspective(10px) translateZ(-5px) translateY(-14rem);
  z-index: 100;
  background: linear-gradient(
    #1a3401 0%,
    #151515 10%,
    #020e00 50%,
    #145302 100%
  );
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.circle:before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(#5b5b5b 10%, #000000 50%, #000000 100%);
  border-radius: 50%;
  filter: blur(15px);
  transform: rotateZ(385deg);
}

.circle:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 60px;
  background: rgba(0, 0, 0, 0.42);
  border-radius: 50%;
  bottom: -50%;
  filter: blur(15px);
}

.fortune:before {
  background: linear-gradient(#004368 10%, #07a8ff 50%, #004368 100%);
  content: " ";
  position: absolute;
  top: 115px;
  left: 100px;
  width: 100px;
  height: 92px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.bridge-section > *:hover {
  background: radial-gradient(
    circle,
    rgb(240, 78, 49) 0%,
    rgb(132, 0, 255) 49%
  );
}

.ball-container {
  width: 500px;
  height: 500px;
}
